<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="{% static 'ninja_gold/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'ninja_gold/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'ninja_gold/style.css' %}">
        <script></script>
        <title>Ninja gold!</title>
    </head>
    <body>
        <div id="wrapper">
            <p>
                <label for="gold">Your Gold: </label>
                <input type="text" name="gold" value="{{total_gold}}" readonly>
            </p>
            <div class="box_holder">
                <div class="location">
                    <h3>Farm</h3>
                    <p>(earns 10-20 golds)</p>
                    <form action="/get_money" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name='money_source' value="farm">
                        <input type="submit" value="Find Gold!">
                    </form>
                </div>
                <div class="location">
                    <h3>Cave</h3>
                    <p>(earns 5-10 golds)</p>
                    <form action="/get_money" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name='money_source' value="cave">
                        <input type="submit" value="Find Gold!">
                    </form>
                </div>
                <div class="location">
                    <h3>House</h3>
                    <p>(earns 2-5 golds)</p>
                    <form action="/get_money" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name='money_source' value="house">
                        <input type="submit" value="Find Gold!">
                    </form>
                </div>
                <div class="location">
                    <h3>Casino</h3>
                    <p>(earns 0-50 golds)</p>
                    <form action="/get_money" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name='money_source' value="casino">
                        <input type="submit" value="Find Gold!">
                    </form>
                </div>
            </div>
            <p>Activities:</p>
            <textarea name="activities" cols="96" rows="8"></textarea>
                
            <form action="/clear">
                {% csrf_token %}
                <input type="submit" value="Clear">
            </form>
        </div>
    </body>
</html>